.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, rgba(255,0,0,0), rgb(226, 70, 215));
}
.register-form{
    border: 1px solid black;
    padding: 30px;
    background: linear-gradient(to right, rgb(62, 178, 223), rgb(134, 202, 251));
}